#!/bin/env bash

export ATL_JDBC_PASSWORD="source_service_db_password"
export ATL_DB_HOST="source_service-db-endpoint.abcdegizgia5.us-east-1.rds.amazonaws.com"
export ATL_DB_PORT="5432"
export ATL_JDBC_USER="source_service_db_user"
export ATL_DB_NAME="source_service_db_name"
